.container-sales{
    display: flex;
    .list__sales{
        margin-left: 7px;
    }
    .actions{
        display: flex;
        justify-content: space-between;

        button{
            border:none;
            background-color: transparent;
            font-size: 20px;
        }
    }
}